Repository pandamy619/fastAPI-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

.pre-commit-config.yaml:

default_stages: [commit]

repos:
-   repo: local
    hooks:
    -   id: isort
        name: Running isort
        entry: isort
        language: system
        files: .*.py
        args: ["--profile", "black"]
        exclude: '^(.*pyproject\.toml|migrations\/.*)$'
    -   id: black
        name: Running black
        entry: black
        exclude: '^(.*pyproject\.toml|migrations\/.*)$'
        language: system
        files: .*.py
    -   id: flake8
        name: Running flake8
        entry: flake8 --count
        language: system
        files: .*.py
        exclude: '^(.*pyproject\.toml|migrations\/.*)$'
    -   id: mypy
        name: Running mypy
        entry: mypy
        language: system
        files: .*.py
        exclude: '^(.*pyproject\.toml|.*tests\/.*|migrations\/.*)$'
    -   id: pytest
        name: Running project's pytest
        entry: pytest tests
        language: system
        always_run: false
        pass_filenames: false
    -   id: commitizen
        name: Running commitizen
        entry: cz check --commit-msg-file
        language: system
        stages: [commit-msg]

fix: dockerfile
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

fix: editconfig
  .editorconfig
Due: none

feat: test example
  poetry.lock
  pyproject.toml
  tests/auth/services.py
  tests/conftest.py
Due: isort, black, flake8

docs: readme
  README.md
  docs/ARCHITECTURE.md
Due: none

docs: comment models
  README.md
  fastapi_template/auth/models.py
  fastapi_template/database.py
Due: isort, black, flake8, mypy

docs: comment models
  tests/auth/services.py
  tests/conftest.py
Due: isort, black, flake8

docs: quick start
  README.md
Due: none

docs: dev env
  docs/DEV_ENVIRONMENT.md
Due: none

docs: refactor docs
  README.md
  docs/BRANCH.md
  docs/COMMIT.md
  docs/DEV_ENVIRONMENT.md
Due: none

docs: refactor docs
  README.md
  docs/InstallDependencies.md
Due: none

docs: refactor docs
  README.md
Due: none

docs: refactor docs
  docs/ARCHITECTURE.md
Due: none
